<h1>Enter password</h1>

<p>To enter your password click the link below:</p>

<%= link_to 'Enter password', reset_password_url(@user.reset_password_token) %>

<p>This link will expire in two hours.</p>

