@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './sidebar.css';
@import './product.css';

.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.padding-0 {
    padding: 0!important;
}

.container {
    margin: 30px 0;
    min-height: calc(100vh - 234px);
    flex-flow: row wrap;
}

.App .row {
    margin-right: 0;
    margin-left: 0;
}

/* Header */
.header {
    padding-bottom: 5px;
    background-color: #3498db;
    font-size: 16px;
    color: white;
}

.menu {
    background-color: #2b3841;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    margin-left: 50px;
}

.menu .vin-link {
    flex: 1;
}

.menu .vin-link:hover {
    text-decoration: none;
}

.menu a {
    color: #3498db;
}

.nav-user .btn-link:hover,
.nav-user .btn-link:focus,
.nav-user .btn-link.focus,
.cart-link:hover,
.cart-link:focus,
.nav-user a:hover {
    text-decoration: none;
}

.nav a {
    color: white;
    font-size: 16px;
}

.nav a:hover,
.menu a:hover,
.nav-user .btn-link:hover,
.nav-user .btn-link:focus {
    color: rgba(255,255,255,.5)
}

.nav-user {
    cursor: pointer;
    position: relative;
    padding-right: 50px;
}

.nav-user #menu-user {
    display: none;
    position: absolute;
    z-index: 2;
    padding: 10px;
    list-style-type: none;
    text-align: left;
    width: 150px;
    background-color: #282c34;
    border-top:  #3498db 1px solid;
}

.nav-user .btn-link {
    padding: 0;
}

.nav-user a,
.nav-user .btn-link {
    color: white;
}

.nav-current-user:hover {
    color: #3498db;
}

.menu .logo img {
    width: 100px;
}

#nav-media {
    width: 30px;
    display: none;
}

#nav-media span {
    display: block;
    background-color: #3498db;
    height: 3px;
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 10;
    border-radius: 20px;
}

.cart-link img {
    width: 40px;
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 1.7rem !important;
    }

    #nav-media {
        box-sizing: unset;
    }
    .nav-user #menu-user {
        width: auto;
        text-align: left;
    }
    .main-nav #nav-media {
        display: block;
        margin: auto;
        padding: 10px;
        cursor: pointer;
    }

    .main-nav .nav {
        display: none;
        position: absolute;
        z-index: 2;
        width: auto;
        min-width: 150px;
        background-color: #282c34;
        text-align: left;
        border-top:  #3498db 1px solid;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        padding: 10px 20px;
    }

    .nav-user,
    .cart-link,
    .main-nav {
        padding: 0 5px;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .menu {
        padding: 0px;
    }

    .vin-link,
    .nav-user button,
    .nav-user,
    .main-nav .nav a {
        font-size: 12px;
    }

    .menu .logo img {
        width: 75px;
    }

    .cart-link img {
        width: 25px;
    }
}

.footer {
    padding: 10px;
    height: 25px;
    background-color: #2b3841;
    color: #3498db;
    box-sizing: content-box;
}

/* modal */
.ReactModalPortal > div {
    z-index: 10;
}

.ReactModalPortal > div > div {
    padding: 30px;
}

.modal-header .close {
    padding: 0 !important;
    font-size: 30px;
}

button.close:focus {
    outline: none;
}

.text-success {
    margin-top: 10px;
}

/* Form */
.password .input-group > .form-control:focus {
    z-index: 0;
}

.password .btn-outline-primary {
    border-color: #cccccc;
    padding: 6px 10px !important;
    margin-top: -19px !important;
    right: 0 !important;
}

.user-form .error,
.order-form .error{
    border-color: red;
}

.form-group.phone {
    display: flex;
    align-items: baseline;
}

.phone label {
    padding-right: 10px;
}

.user-profile .nav-link {
    display: inline-block;
}

/* Cart */
.cart .buttons {
    justify-content: space-between;
}

.cart .total-price {
    margin-top: 20px;
}

/* Orders */
.orders .nav-link {
    padding: 0;
}

/* Search */
.sample-search.form-control {
    width: 200px;
}

.jHDXzb {
    display: none;
}

.cqaNcS {
    padding: 0 !important;
}

.LBGII {
    font-size: 1rem !important;
}
