.App {
  text-align: center;
}

.header {
  height: 115px;
  padding-top: 20px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.nav a {
  color: white;
}

.container {
  min-height: calc(100vh - 160px);
}

.footer {
  margin-bottom: 20px;
  height: 25px;
}
