.App {
    text-align: center;
}

.container {
    margin-top: 30px;
    min-height: calc(100vh - 230px);
}

/* Header */
.header {
    padding-bottom: 5px;
    background-color: #3498db;
    font-size: 16px;
    color: white;
}

.menu {
    background-color: #282c34;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    color: #3498db;
}

.nav-user .btn-link:hover,
.nav-user .btn-link:focus,
.nav-user .btn-link.focus,
.cart-link:hover,
.cart-link:focus,
.nav-user a:hover {
    text-decoration: none;
}

.nav a {
    color: white;
    font-size: 16px;
}

.nav a:hover,
.menu a:hover,
.nav-user .btn-link:hover,
.nav-user .btn-link:focus {
    color: rgba(255,255,255,.5)
}

.nav-user {
    cursor: pointer;
    position: relative;
}

.nav-user #menu-user {
    display: none;
    position: absolute;
    z-index: 2;
    padding: 10px;
    list-style-type: none;
    text-align: left;
    width: 150px;
    background-color: #282c34;
    border-top:  #3498db 1px solid;
}

.nav-user .btn-link {
    padding: 0;
}

.nav-user a,
.nav-user .btn-link {
    color: white;
}

.nav-current-user:hover {
    color: #3498db;
}

.menu .logo img {
    width: 100px;
}

#nav-media {
    width: 50px;
    display: none;
    padding-bottom: 10px;
}

#nav-media span {
    display: block;
    background-color: #3498db;
    height: 3px;
    width: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 10;
    border-radius: 20px;
}

@media screen and (max-width: 1060px) {
    .main-nav #nav-media {
        display: block;
        margin: auto;
    }

    .main-nav .nav {
        display: none;
        position: absolute;
        z-index: 2;
        width: auto;
        background-color: #282c34;
        text-align: left;
        border:  #3498db 1px solid;
    }

    .main-nav .nav .nav-link {
        border-bottom:  #3498db 1px solid;
    }

    .main-nav .nav .nav-link:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 500px) {
    .nav-user {
        margin-left: 0;
    }
}

.footer {
    margin-bottom: 20px;
    height: 25px;
}

/* ProductList */
.products .form-group select {
    margin-left: 10px;
    width: auto;
    display: inline-block;
}

.product {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 10px;
}

.products .col-md-4:hover .product {
    z-index: 3;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-shadow: 0 0 26px 3px rgba(0, 0, 0, 0.34);
    box-shadow: 0 0 26px 3px rgba(0, 0, 0, 0.34);
}

.product .product-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #ccc;
    display: block;
    font-size: 0;
}

.product .product-image .img-link {
   display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.product .product-image img {
    height: 250px;
    width: auto;
    object-fit: cover;
    transition: all .5s ease 0s;
}

.product .product-image .no-image {
    height: auto;
    width: auto;
    object-fit: none;
}

.product:hover .product-image img {
    transform: scale(1.1)
}

.product .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 32px;
    z-index: 1;
}

.product .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 30px;
}

.product:hover .social li {
    transform: translateX(0)
}

.product:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product .social li button {
    border: none;
}

.product .social li a,
.product .social li button {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product .social li a:hover,
.product .social li button:hover {
    color: #fff;
    background-color: #3498db;
}

.product .social li a:after,
.product .social li a:before,
.product .social li button:after,
.product .social li button:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product .social li a:after,
.product .social li button:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product .social li a:hover:after,
.product .social li a:hover:before,
.product .social li button:hover:after,
.product .social li button:hover:before {
    opacity: 1
}

.product .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s;
    margin-bottom: 0;
    border: none;
}

.product .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product .social li button:focus,
button.add-to-cart:focus {
    outline: none;
}

.product:hover .add-to-cart {
    bottom: 0;
}

.product-image .cart {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-align: center;
}

.product-image .cart:hover {
    text-decoration: none;
}

.product .product-content {
    padding: 20px 10px;
    text-align: center;
}

.product p {
    margin-bottom: 0;
}

.product .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product .title a {
    color: #303030
}

.product .title a:hover {
    color: #3498db
}

.product .price {
    color: #303030;
    font-size: 15px
}

.product .short-description div {
    margin-top: 10px;
    color: #000;
    font-size: 12px;
    line-height: 1.1em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.product .rating {
    padding: 0;
    margin-bottom: 0;
}

.product .fa-star {
    color: orange;
}

.product .disable {
    color: #cccccc;
}

@media screen and (max-width: 990px) {
    .product {
        margin-bottom: 30px
    }

    .col-md-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (max-width: 780px) {

    .product .add-to-cart {
        bottom: 0
    }
}

@media screen and (max-width: 420px) {
    .col-md-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}


/* Product */
#product .product {
    padding: 0;
}
#product h1 {
    margin-bottom: 20px;
    line-height: 1;
}

.product-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.product-data .product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.product-img img {
    width: 300px;
    max-height: 300px;
    padding: 15px;
    border: solid #ccc 2px;
}

.product-img .no-image {
    width: auto;
    padding: 50px;
}

.product-info {
    text-align: left;
}

.product-info .price {
    text-transform: uppercase;
    font-weight: bold;
}

.product button,
.product .link-cart {
    margin-bottom: 10px;
}

.product .buy,
.product .link-cart {
    margin-right: 10px;
    display: inline-block;
}

.product .link-cart:hover {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .product-data {
        flex-direction: column;
        align-items: center;
    }

    .product-data .product-img {
        margin-bottom: 20px;
    }
}

/* modal */
.ReactModalPortal > div {
    z-index: 10;
}

.ReactModalPortal > div > div {
    padding: 30px;
}

.modal-header .close {
    padding: 0 !important;
    font-size: 30px;
}

button.close:focus {
    outline: none;
}

.text-success {
    margin-top: 10px;
}

/* Form */
.password .input-group > .form-control:focus {
    z-index: 0;
}

.password .btn-outline-primary {
    border-color: #cccccc;
    padding: 6px 10px !important;
    margin-top: -19px !important;
    right: 0 !important;
}

.user-form .error {
    border-color: red;
}

.form-group .phone {
    display: inline-block;
    margin-left:  20px;
    width: 80%;
}

.user-profile .nav-link {
    display: inline-block;
}

/* Categories */

#sidebar {
    padding: 0;
    width: 200px;
}

#sidebar ul {
    padding-left: 0;
    list-style-type: none;
}

#sidebar li {
    text-align: left;
    font-weight: 600;
}

#sidebar .nested_categories {
    padding-left: 20px;
    font-weight: 200;
}

@media screen and (max-width: 890px) {
    #sidebar {
        width: 20% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    #sidebar {
        width: 80% !important;
        margin-bottom: 20px !important;
    }
}

/* Cart */
.cart .buttons {
    justify-content: space-between;
}

/* Orders */
.orders .nav-link {
    padding: 0;
}

/* Search */
.jHDXzb {
    display: none;
}